<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vtoroy blin</title>
    <link href="../static/bootstrap.css" rel="stylesheet">
  </head>
	<body>
		<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-nav">
        		<li><a href="index.html">Главная</a></li>
						<li class="active"><a href="#">Дзен Пайтона<span class="sr-only">(current)</span></a></li>
						<li><a href="student_list.html">kontakty studentov</a></li>
      		</ul>
    		</div>
  		</div>
		</nav>
		<div class="container">
			<div class="jumbotron">
  			<h1>zapovedi</h1>
  			<ul class="list-group">
  				<li class="list-group-item">Красивое лучше, чем уродливое.</li>
  				<li class="list-group-item">Явное лучше, чем неявное.</li>
  				<li class="list-group-item">Простое лучше, чем сложное.</li>
  				<li class="list-group-item">Сложное лучше, чем запутанное.</li>
  				<li class="list-group-item">Плоское лучше, чем вложенное.</li>
					<li class="list-group-item">Разреженное лучше, чем плотное.</li>
					<li class="list-group-item">Читаемость имеет значение.</li>
					<li class="list-group-item">Особые случаи не настолько особые, чтобы нарушать правила.</li>
					<li class="list-group-item">При этом практичность важнее безупречности.</li>
					<li class="list-group-item">Ошибки никогда не должны замалчиваться.</li>
					<li class="list-group-item">Если не замалчиваются явно.</li>
					<li class="list-group-item">Встретив двусмысленность, отбрось искушение угадать.</li>
					<li class="list-group-item">Должен существовать один — и, желательно, только один — очевидный способ сделать это.</li>
					<li class="list-group-item">Хотя он поначалу может быть и не очевиден, если вы не голландец.</li>
					<li class="list-group-item">Сейчас лучше, чем никогда.</li>
					<li class="list-group-item">Хотя никогда зачастую лучше, чем прямо сейчас.</li>
					<li class="list-group-item">Если реализацию сложно объяснить — идея плоха.</li>
					<li class="list-group-item">Если реализацию легко объяснить — идея, возможно, хороша.</li>
					<li class="list-group-item">Пространства имён — отличная штука! Будем делать их побольше!</li>
				</ul>
			</div>
		</div>
		<h1>Da pribudet s vami sila!</h1>
  </body>
</html>
