<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tretiy blin</title>
    <link href="../static/bootstrap.css" rel="stylesheet">
  </head>
	<body>
    <nav class="navbar navbar-inverse">
  		<div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Главная</a></li>
            <li><a href="contact.html">Дзен Пайтона</a></li>
						<li class="active"><a href="#">kontakty studentov<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
		<div class="container">
    	<div class="panel panel-default">
  		<!-- Default panel contents -->
  		<div class="panel-heading">
  			<p>tudents</p>
			</div>
  		<!-- Table -->
  		<table class="table">
    		<ul class="list-group">
  				<li class="list-group-item">/ <a href="student_detail.html">Ruslan Jarovoi</a> / Kursk /  prorock_atec /</li>
  				<li class="list-group-item">/ John Gult / New York / who_is_John_Gult /</li>
  				<li class="list-group-item">/ Putin Vladimir / Moscow / huilo /</li>
  				<li class="list-group-item">/ Gannibal Lekter / Baltimor / kannibal /</li>
  				<li class="list-group-item">/ Evgeniy Petrosyan / bomg / pari40k /</li>
				</ul>
  		</table>
		</div>
</div>
    <h1>kontakty studentov</h1>
  </body>
</html>
