<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>detali</title>
    <link href="../static/bootstrap.css" rel="stylesheet">
  </head>
	<body>
    <nav class="navbar navbar-inverse">
  		<div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div>
      </div>
    </nav>
    <div class="container">
			<div class="jumbotron">
  			<h1>detali</h1>
  			<p>фамилия, имя, отчество, дата рождения, адрес, почта, логин skype, сведенья о выполненных практических и контрольных работ, средний балл, рейтинг</p>
      </div>
    </div>
  </body>
</html>

